<header class="header">
  <div class="header__wraper">
    <div class="container header__container">
      <div class="header_logo">
        <p class="logo">O<span class="logo__letter">K</span>SI</p>
        <svg class="header__scissors" width="12px" height="16px">
          <use href="images/sprite.svg#icon-scissors-logo-header"></use>
        </svg>
      </div>

      <nav class="headerNavigation">
        <ul class="headerNavigation_list list">
          <li class="headerNavigation__item">
            <a href="./" class="headerNavigation__link link">ГОЛОВНА</a>
          </li>
          <li class="headerNavigation__item">
            <a href="#about" class="headerNavigation__link link">ПРО НАС</a>
          </li>
          <li class="headerNavigation__item">
            <a href="#services" class="headerNavigation__link link">ПОСЛУГИ</a>
          </li>
          <li class="headerNavigation__item">
            <a href="#price" class="headerNavigation__link link">ПРАЙС</a>
          </li>
          <li class="headerNavigation__item">
            <a href="#contacts" class="headerNavigation__link link">КОНТАКТИ</a>
          </li>
        </ul>
      </nav>

      <p class="header__location">Хмельницький</p>

      <div class="header_nav">
        <a href="tel: +380976604435" class="header_link link">
          <svg class="phone_black" width="21px" height="21px">
            <use href="images/sprite.svg#icon-phone_black"></use>
          </svg>
        </a>
        <button type="button" class="header__burger">
          <svg class="burger_menu" width="22.5px" height="22.5px">
            <use href="images/sprite.svg#icon-burger_menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
