<section class="offer">
  <div class="offer__container container">
    <div class="offer__logo">
      <p class="offerLogo__text">O<span class="offerLogo__letter">K</span>SI</p>
      <svg class="offerLogo__scissors" width="54px" height="72px">
        <use href="images/sprite.svg#icon-scissors-logo-header"></use>
      </svg>
    </div>
    <p class="offer__text">
      ОТРИМАЙТЕ СВОЮ ЗНИЖКУ <span class="offer__accent">30%</span> НА <br />
      ПЕРШУ СТРИЖКУ В НАШОМУ САЛОНІ
    </p>
    <button class="offer__button button">ЗАПИСАТИСЬ</button>
  </div>
</section>
