.button {
  display: block;
  margin: 0 auto;
  padding: 16px 30px;
  border-radius: 30px;
  color: #222;
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.05;
  letter-spacing: 0.05em;
  background: $defaultButton;
  border: none;

  @include tablet {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px;
  }
  @include desktop {
    color: #222;
    padding: 19px 47px;
    border-radius: 40px;
    font-size: 24px;
    letter-spacing: 2.4px;
  }

  &:hover,
  &:focus {
    background: $hoverButton;
    cursor: pointer;
    outline: none;
  }
}
