.footer {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(254, 246, 247, 0.938737) 13.85%,
    rgba(248, 163, 178, 0.39) 100%
  );

  @include tablet {
    background: linear-gradient(180deg, #fff 0%, rgba(248, 163, 178, 0.5) 100%);
  }
  @include desktop {
    background: linear-gradient(
      180deg,
      #fff 0%,
      rgba(248, 163, 178, 0.68) 100%
    );
  }
}

.footer__container {
  padding-bottom: 20px;

  @include tablet {
    padding-bottom: 30px;
  }
  @include desktop {
    padding-bottom: 42px;
  }
}

.footer__title {
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  @include tablet {
    margin-bottom: 80px;
  }
  @include desktop {
    margin-bottom: 100px;
    font-size: 40px;
    line-height: normal;
    letter-spacing: 4px;
  }
}

.footerContacts {
  position: relative;
  @include tablet {
    padding: 0 50px;
  }
  @include desktop {
    display: none;
  }
}

.footerContacts__list {
  padding: 16px 15px 16px 10px;
  position: absolute;
  bottom: 0;
  left: 45%;

  background: #f8a3b2;

  @include tablet {
    padding: 15px 22px 15px 21px;
    left: 52%;
    bottom: -25%;
  }
  @include desktop {
  }
}

.footerContacts__item {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:hover {
    .footerContacts__link {
      font-weight: 700;
    }
    .footerContacts__icon {
      transform: scale(1.2);
    }
  }
}

.footerContacts__icon {
  margin-right: 5px;

  @include tablet {
    width: 20px;
    height: 20px;
  }
}

.footerContacts__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #222222;

  @include tablet {
    font-size: 16px;
    letter-spacing: 0.8px;
  }
  @include desktop {
  }
}

.footer__text {
  margin-top: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;
  letter-spacing: 0.05em;

  @include tablet {
    display: none;
  }
}

.footerNav {
  margin-top: 35px;

  @include tablet {
    margin-top: 103px;
  }
  @include desktop {
    margin-top: 94px;
  }
}

.footerNav__list {
  display: flex;
  justify-content: space-between;

  @include tablet {
    padding: 0 100px;
  }
  @include desktop {
    padding: 0 295px;
  }
}

.footerNav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #222222;

  &:hover,
  &:focus {
    outline: none;
    color: #d38c9d;
  }

  @include tablet {
    font-size: 15px;
  }
  @include desktop {
    font-size: 16px;
  }
}

.footer__map {
  @include tablet {
    height: 175px;
    width: 415px;
  }
  @include desktop {
    height: 220px;
    width: 508px;
  }
}

.footerContactsDesktop {
  display: none;
  @include desktop {
    display: flex;
    justify-content: space-between;

    color: #222;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
  }
}

.foterContactsDesktop__contact {
  width: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 70px;
}

hr {
  @include desktop {
    border: none;
  }
}

.footerContactsDesktop__link {
  display: flex;
  color: #222222;
  &:hover,
  &:focus {
    color: #d38c9d;
    outline: none;

    .footerContactsDesktop__icon {
      fill: #d38c9d;
    }
  }
}

.footerContactsDesktop__phone {
  &:hover {
    .footerContactsDesktop__link {
      color: #d38c9d;
      outline: none;
    }
  }
}

.footerContactsDesktop__link:focus {
  color: #d38c9d;
  outline: none;
}

.footerContactsDesktop__icon {
  margin-right: 5px;
}
